.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: var(--secondary) !important;
}

.table-hover > tbody > tr:hover > * {
  background-color: var(--primary) !important;
  color: white;
}
