<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Duration</th>
      <th>Date</th>
      <th>Available Spaces</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coachClass of coachClasses">
      <td>{{ coachClass.title }}</td>
      <td>{{ coachClass.description }}</td>
      <td>{{ coachClass.location }}</td>
      <td>{{ coachClass.duration }}</td>
      <td>{{ coachClass.classDate | date }}</td>
      <td>{{ coachClass.availableSpaces }}</td>
    </tr>
  </tbody>
</table>
