.status-card {
  height: 100px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 5px;
  padding: 20px 10px;
  position: relative;
  transition: 0.3s linear all;
  border-radius: 15px;
}

.status-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.status-card fa-icon {
  position: absolute;
  top: 0;
  font-size: 5rem;
  opacity: 0.2;
}

.status-card .status-card__number {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.status-card .status-card__name {
  position: absolute;
  right: 17.5px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

.status-card.primary {
  background-color: #007bff;
  color: #fff;
}

.status-card.danger {
  background-color: #ef5350;
  color: #fff;
}

.status-card.success {
  background-color: #66bb6a;
  color: #fff;
}

.status-card.info {
  background-color: #26c6da;
  color: #fff;
}
