<div class="card shadow">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="fw-bold m-0 p-0">My Classes</h5>
      <button class="btn btn-primary" (click)="showCoachClassForm()">
        Add New Class
      </button>
    </div>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <input
              type="text"
              name="searchTerm"
              id="searchTerm"
              class="form-control"
              placeholder="Search Term"
              [(ngModel)]="searchTerm"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="from-group">
            <p-calendar
              name="classDates"
              selectionMode="range"
              dateFormat="dd-M-yy"
              inputId="classDates"
              appendTo="body"
              [(ngModel)]="classDates"
              placeholder="From - To"
              (onSelect)="onSelect()"
            ></p-calendar>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button class="btn btn-primary" (click)="getCoachClasses()">
      Apply Filter
    </button>
  </div>
</div>
<div class="card shadow mt-3">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <!-- Status -->
      <div
        class="btn-group"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <div class="pe-1 m-0">
          <input
            type="radio"
            class="btn-check"
            name="statusId"
            id="all"
            autocomplete="off"
            [checked]="statusId == 0"
          />
          <label
            (click)="onStatusChang(0)"
            class="btn btn-outline-primary"
            for="all"
            ><span>All</span></label
          >
        </div>

        <div class="pe-1 m-0">
          <input
            type="radio"
            class="btn-check"
            name="statusId"
            id="booking"
            autocomplete="off"
            [checked]="statusId == 1"
          />
          <label
            (click)="onStatusChang(1)"
            class="btn btn-outline-primary"
            for="booking"
            ><span>Booking</span></label
          >
        </div>
        <div class="pe-1 m-0">
          <input
            type="radio"
            class="btn-check"
            name="statusId"
            id="onProgress"
            autocomplete="off"
            [checked]="statusId == 2"
          />
          <label
            (click)="onStatusChang(2)"
            class="btn btn-outline-primary"
            for="onProgress"
            ><span>On Progress</span></label
          >
        </div>
        <div class="pe-1 m-0">
          <input
            type="radio"
            class="btn-check"
            name="statusId"
            id="finished"
            autocomplete="off"
            [checked]="statusId == 3"
          />
          <label
            (click)="onStatusChang(3)"
            class="btn btn-outline-primary"
            for="finished"
            ><span>Finished</span></label
          >
        </div>
        <div class="p-0 m-0">
          <input
            type="radio"
            class="btn-check"
            name="statusId"
            id="canceled"
            autocomplete="off"
            [checked]="statusId == 4"
          />
          <label
            (click)="onStatusChang(4)"
            class="btn btn-outline-primary"
            for="canceled"
            ><span>Canceled</span></label
          >
        </div>
      </div>
      <!-- View Mode -->
      <div
        class="btn-group"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <div class="p-0 m-0">
          <input
            type="radio"
            class="btn-check"
            name="viewMode"
            id="list"
            autocomplete="off"
            [checked]="viewMode == 1"
          />
          <label
            (click)="viewMode = 1"
            class="btn btn-outline-primary"
            for="list"
            ><fa-icon [icon]="faList" size="lg"></fa-icon
          ></label>
        </div>

        <div class="p-0 m-0">
          <input
            type="radio"
            class="btn-check"
            name="viewMode"
            id="grid"
            autocomplete="off"
            [checked]="viewMode == 2"
          />
          <label
            (click)="viewMode = 2"
            class="btn btn-outline-primary"
            for="grid"
            ><fa-icon [icon]="faGrip" size="lg"></fa-icon
          ></label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="viewMode == 1; then listView; else gridView"></div>
    <ng-template #listView>
      <app-coaches-classes-list
        [coachClasses]="coachClasses.data"
        [pagination]="pagination"
        (currentPagination)="onPageChange($event)"
        (selectedCoachClassId)="onCoachClassEdit($event)"
        (DeletedCoachClass)="onCoachClassDelete($event)"
      ></app-coaches-classes-list>
    </ng-template>
    <ng-template #gridView>
      <app-coaches-classes-grid
        [coachClasses]="coachClasses.data"
        [pagination]="pagination"
        (currentPagination)="onPageChange($event)"
        (selectedCoachClassId)="onCoachClassEdit($event)"
        (DeletedCoachClass)="onCoachClassDelete($event)"
      ></app-coaches-classes-grid>
    </ng-template>
  </div>
</div>
