<div class="auth-fluid-container">
  <div class="auth-container shadow-lg rounded">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="text-center fw-bolder mb-5">{{ title }} Form</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center mt-3 d-grid gap-2 mx-auto mb-3">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic radio toggle button group"
            >
              <input
                type="radio"
                class="btn-check"
                name="auth"
                id="login"
                autocomplete="off"
                (click)="onToggleAuthMode(true)"
                [checked]="isLoginMode"
                [routerLink]="['login']"
              />
              <label class="btn btn-outline-primary" for="login">Login</label>

              <input
                type="radio"
                class="btn-check"
                name="auth"
                id="signup"
                autocomplete="off"
                (click)="onToggleAuthMode(false)"
                [checked]="!isLoginMode"
                [routerLink]="['signup']"
              />
              <label class="btn btn-outline-primary" for="signup">Signup</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
