<div class="coaches-list--grid">
  <div class="row justify-content-center align-items-center">
    <div
      class="col-sm-3 col-xs-3 col-md-3 col-lg-3"
      *ngFor="let coachClass of coachClasses"
    >
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="card-title mb-0">{{ coachClass.title }}</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="row">
              <p>
                <fa-icon [icon]="faNoteSticky"></fa-icon
                >{{ coachClass.description }}
              </p>
            </div>
            <div class="row">
              <p>
                <fa-icon [icon]="faLocationDot"></fa-icon
                >{{ coachClass.location }}
              </p>
            </div>
            <div class="row">
              <p>
                <fa-icon [icon]="faCalendar"></fa-icon
                >{{ coachClass.classDate | date : "dd-MMM-yyyy HH:mm" }}
              </p>
            </div>
            <div class="row">
              <p>
                <fa-icon [icon]="faClock"></fa-icon>{{ coachClass.duration }}
              </p>
            </div>
            <div class="row">
              <p class="mb-0">
                <fa-icon [icon]="faUsers"></fa-icon
                >{{ coachClass.availableSpaces }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between align-items-center gap-3">
            <button class="btn btn-warning" (click)="onEdit(coachClass.id)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button class="btn btn-danger">
              <fa-icon [icon]="faXmark"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <hr />
  <div class="d-flex justify-content-end align-items-center">
    <p-paginator
      [rows]="pagination.itemsPerPage"
      [totalRecords]="pagination.totalItems"
      [rowsPerPageOptions]="[5, 10, 15, 25, 50, 100]"
      (onPageChange)="pageChangeEvent($event)"
    ></p-paginator>
  </div>
</div>
