/* ==========================Font========================== */

@font-face {
  font-family: "robotoregular";
  /* src: url(../fonts/roboto-regular-webfont.woff) format('woff'); */
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "robotoregular", sans-serif;
}

body {
  min-height: 100vh;
  background: var(--primary);
}

nav {
  position: fixed;
  width: 60px;
  height: 100%;
  background: var(--dark);
  transition: 0.5s;
  overflow: hidden;
}

nav.active {
  width: 200px;
}

/* nav:hover {
  width: 300px;
} */

nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul li {
  list-style: none;
  width: 100%;
  position: relative;
}

nav ul li a:hover {
  color: var(--primary);
}

nav ul li:hover a::before {
  background-color: var(--secondary);
  width: 100%;
}

nav ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary);
  transition: 0.2s;
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.2s;
}

nav ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

nav ul li a .title {
  position: relative;
  font-size: 0.85em;
}

nav ul li a .icon * {
  font-size: 1.1em;
}

nav ul li a.toggle {
  border-bottom: 3px solid var(--primary);
}

.toggle {
  cursor: pointer;
}

header {
  display: none;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: var(--primary);
    color: var(--secondary);
  }

  header a {
    color: var(--secondary);
  }

  nav {
    left: -60px;
  }

  nav.active {
    left: 0;
    width: 100%;
  }

  nav ul li a.toggle {
    display: none;
  }
}
