<header>
  <div class="toggle">
    <fa-icon [icon]="faBars"></fa-icon>
  </div>
  <h3>Dashboard</h3>
  <a href="#">
    <fa-icon [icon]="faSignOut"></fa-icon>
  </a>
</header>
<nav [ngClass]="{ active: sidebarToggle }">
  <ul>
    <li>
      <a class="toggle">
        <span class="icon" (click)="toggleSidebar()"
          ><fa-icon [icon]="faBars"></fa-icon
        ></span>
        <span class="title">Menu</span>
      </a>
    </li>
    <li *ngIf="currentUser.userId == 1">
      <a [routerLink]="['coach', currentUser.userId, 'home']">
        <span class="icon"><fa-icon [icon]="faHome"></fa-icon></span>
        <span class="title">Main</span>
      </a>
    </li>
    <li *ngIf="currentUser.userId == 2">
      <a [routerLink]="['member', currentUser.userId, 'home']">
        <span class="icon"><fa-icon [icon]="faHome"></fa-icon></span>
        <span class="title">Main</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['coach', currentUser.userId, 'classes']">
        <span class="icon"><fa-icon [icon]="faPersonRunning"></fa-icon></span>
        <span class="title">Classes</span>
      </a>
    </li>
    <li class="profile">
      <a [routerLink]="['coach', currentUser.userId, 'profile']">
        <span class="icon"><fa-icon [icon]="faUser"></fa-icon></span>
        <span class="title">Profile</span>
      </a>
    </li>
    <li class="signout">
      <a (click)="onSignOut()">
        <span class="icon"><fa-icon [icon]="faSignOut"></fa-icon></span>
        <span class="title">Sign Out</span>
      </a>
    </li>
  </ul>
</nav>
