<header>
  <div class="toggle">
    <i class="fas fa-bars"></i>
  </div>
  <h3>Dashboard</h3>
  <a href="#">
    <i class="fas fa-sign-out-alt"></i>
  </a>
</header>
<nav [ngClass]="{ active: sidebarToggle }">
  <ul>
    <li>
      <a class="toggle">
        <span class="icon" (click)="toggleSidebar()"
          ><i class="fas fa-bars"></i
        ></span>
        <span class="title">Menu</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="title">Main</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><i class="fas fa-user"></i></span>
        <span class="title">Profile</span>
      </a>
    </li>
    <!-- <li>
      <a href="#">
        <span class="icon"><i class="fas fa-envelope"></i></span>
        <span class="title">Messages</span>
      </a>
    </li> -->
    <!-- <li>
      <a href="#">
        <span class="icon"><i class="fas fa-info"></i></span>
        <span class="title">Help</span>
      </a>
    </li> -->
    <!-- <li>
      <a href="#">
        <span class="icon"><i class="fas fa-cog"></i></span>
        <span class="title">Setting</span>
      </a>
    </li> -->
    <!-- <li>
      <a href="#">
        <span class="icon"><i class="fas fa-lock"></i></span>
        <span class="title">Password</span>
      </a>
    </li> -->
    <li>
      <a (click)="onSignOut()">
        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
        <span class="title">Sign Out</span>
      </a>
    </li>
  </ul>
</nav>
