/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("app/styles/button.css");
@import url("app/styles/inputs.css");
@import url("app/styles/selects.css");
:root {
  --primary: #3f72af; /* blue */
  --secondary: #dbe2ef; /* gray */
  --light: #f9f7f7; /* white */
  --dark: #112d4e; /* black */
  --bg-primary: #41444b;
  --bg-secondary: #52575d;
  --bg-active: #fddb3a;
  --cl-text: #f6f4e6;
}

body {
  font-family: "Raleway";
}
